.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4em;
}

.board {
  height: min-content;
  width: min-content;
  display: grid;
  gap: 4px;
  background-color: black;
}
