.app {
}

.board {
  height: min-content;
  width: min-content;
  display: grid;
  gap: 4px;
  background-color: black;
}

.square {
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: white;
}

.square[disabled] {
  color: black;
}

.square:hover:not([disabled]) {
  cursor: pointer;
  background-color: lightgrey;
}
